<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO PROJECT</title>
</head>
<body>
    <h1>WELCOME TO MY DJANGO POJECT</h1>
    {% if result %}
    <h1> This is My Classification Result  {{result}}</h1> 
    {% endif %}
    <P>THIS IS MY DJANGO APP</P>

    <!-- Form for inputting sepal and petal dimensions -->
    <form method="POST">
        {% csrf_token %}
        <label for="sepal_length">Sepal Length:</label>
        <input type="text" name="sepal_length" required><br><br>

        <label for="sepal_width">Sepal Width:</label>
        <input type="text" name="sepal_width" required><br><br>

        <label for="petal_length">Petal Length:</label>
        <input type="text" name="petal_length" required><br><br>

        <label for="petal_width">Petal Width:</label>
        <input type="text" name="petal_width" required><br><br>

        <button type="submit">Predict</button>
    </form>

    <!-- Display the prediction result -->
    {% if result %}
        <h2>Prediction Result: {{ result }}</h2>
    {% endif %}

</body>
</html>